*{
	padding: 0;
	margin: 0;
	border: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a,a:focus,a:active{
	outline: none;
	user-select: none;
}

nav,footer,header,aside{display: block;}

html,body{
    background: #FFFFFF;
	font-family: 'Tinos';
	height: 100%;
	width: 100%;
    line-height: calc(30 / 26 * 100%);
	font-size: 26px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    color: #656363;
    font-weight: 400;
}
input,button,textarea{font-family:inherit;color:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
* {
    -webkit-tap-highlight-color: transparent;
}

/*--------------------*/
body._lock{
    overflow: hidden;
}
.wrapper{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
._container{
    max-width: 1110px;
    margin: 0px auto;
    padding: 0px 10px;
    box-sizing: content-box;
}
._ibg{
    position: relative;
}
._ibg img{
    position: absolute;
	/* padding-bottom: 100%; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
section{
	margin-bottom: 150px;
}
main{
	flex: 1 0 auto;
}

.preloader{
    z-index: 52;
    background: #c5c5c5;
    color: #414141;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.preloader__anim{
    transform: translateY(-50%);
    display: flex;
    /* background: red; */
    align-items: flex-end;
}
.preloader._un_active{
    display: none;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.gooey{
    
    /* width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px; */
    /* background: white; */
    filter: contrast(0);
}

.dot{
    position: absolute;
    width: 4px;
    height: 4px;
    top: 3px;
    left: 4px;
    filter: blur(0px);
    background: #414141;
    border-radius: 50%;
    transform: translateX(0);
    animation: dote 2.8s infinite;
}
.dots{
    transform: translateX(0);
    margin-top: 3px;
    margin-left: 8px;
    animation: dots 2.8s infinite;
}
.dots span{
    display: block;
    float: left;
    width: 4px;
    height: 4px;
    margin-left: 4px;
    filter: blur(0px);
    background: #414141;
    border-radius: 50%;
}

@keyframes dote{
    50%{
        transform: translateX(20px);
    }
}
@keyframes dots{
    50%{
        transform: translateX(-6px);
    }
}


/*----------header-----------------*/
header{
    z-index: 5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 170px;
    padding: 50px 0;
}
.header-content{
    display: flex;
    justify-content: space-between;
}
.header-content__navbar{
    display: flex;
    align-items: center;
}
.navbar-items{
    display: flex;
}
.navbar-items>*:not(:last-child){
    margin-right: 60px;
}

.navbar-item{
    cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    line-height: calc(19 / 14 * 100%);
    color: #FFFFFF;
}
.navbar-item:hover{
    transition: all 0.3s ease 0s;
    color: #FF7400;
}
/*-------------page----------------*/

.page {
    padding: 230px 0;
    position: relative;
    background: url("../img/ko 1.jpg") center/cover no-repeat;
}
.page__body {
}

.page-content {
}
.page-content__fortitle {
    font-size: 96px;
    line-height: calc(110 / 96 * 100%);
    text-align: center;
    color: #D67E35;
}
h1{
    font-size: 64px;
    line-height: calc(74 / 64 * 100%);
    text-align: center;
    color: #D67E35;
    margin-top: 10px;
}
.page-content__fact {
    font-family: 'Open Sans';
    font-size: 20px;
    line-height: calc(27 / 20 * 100%);
    color: #B0B0B0;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.page-content__fact span:first-child {
    height: 2px;
    width: 60px;
    background: #B0B0B0;
    margin-right: 10px;
}
.page-content__fact span:last-child {
    height: 2px;
    width: 60px;
    background: #B0B0B0;
    margin-left: 10px;
}
/*-----------------cart-----------------*/

.cart {
    position: relative;
    z-index: 2;
    margin-top: -240px;
}
.cart__body {
}
.cart-content {
    display: flex;
}
.cart-content>*:not(:last-child) {
    margin-right: 44px;
}
.cart__column a{
    cursor: pointer;
}
.cart__column{
    transition: all 0.3s ease 0s;
}
.cart__column:hover{
    transform: scale(1.02);
}
.cart__column:hover .cart-item{
    box-shadow: 10px 10px 40px 25px #d67d3533;
}
.cart-item {
    transition: all 0.3s ease 0s;
    cursor: pointer;
    background: #FFFFFF;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
}
.cart-item__img img{
    object-fit: cover;
    width: 100%;
}
.cart-item__content {
    padding: 20px;
    max-height: 118px;
}
.item-title {
    font-size: 32px;
    line-height: calc(37 / 32 * 100%);
    color: #2C2C2C;
    margin-bottom: 5px;
}
.gold_text{
    color: #BC9060;
}
.item-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
    font-size: 24px;
    line-height: calc(28 / 24 * 100%);
    color: #656363;    
}

/*----------------info----------------*/
.info {
}
.info__body {
}
.content {
}
._content>*:not(:last-child) {
    margin-bottom: 100px;
}
.content_text {
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
}

.info-content__img {
}

/*--------------history--------------*/
.history {
}
.history__body {
}

.history-content {
}
._content {
}
.content__flexbox {
}
.flexbox {
    display: flex;
}
.flexbox__left {
    flex: 0 0 50%;
}
.flexbox__title {
}
._title {
    font-weight: 600;
    text-align: center;
    font-size: 54px;
    line-height: 62px;
    color: #2C2C2C;
}
._title span{
    color: #D67E34;
}
.flexbox__text {
    margin-top: 25px;
    padding: 0 20px;
}
.content_text {
}
.flexbox__right {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.flexbox_img{
    width: 100%;
    height: 100%;
    position: relative;
}
.flexbox_img img{
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.history__text {
}
.history__img {
    margin-top: 150px;

}
.history__img img{
    width: 100vw;
    object-fit: cover;
}
/*-------------facts---------------*/
.facts {
}
.facts__body {
}
._container {
}
.facts-content {
    max-width: 600px;
    margin: 0 auto;
}
.facts-content__title {
}
._title {
}
.facts-content__flexbox {
    margin-top: 50px;
}
.flexbox-content {
}
.flexbox-content__item {
    /* padding: ; */
}
.flexbox-content>*:not(:last-child) {
    margin-bottom: 25px;
}
.flexbox-content__item.flexbox .flexbox__left {
    flex: 0 0 60px;
    font-size: 54px;
    line-height: calc(62 / 54 * 100%);
    text-align: center;
    color: #FFFFFF;
    background: #D67E34;
}
.flexbox-content__item.flexbox .flexbox__right{
    flex: 1 1 auto;
    padding: 12px;
    justify-content: start;

    background: #EFEFEF;

}
.flexbox__left {
}
.flexbox__right {
}

/*------------table---------------*/
.table {
}
.table__body {
}
._container {
}
.table-content {
    max-width: 900px;
    margin: 0 auto;
}
.table-content__grid {
    margin-top: 50px;
}
.table-grid {
    gap: 5px;
    display: grid;
    grid-template-columns: 60px 415px 415px;
    grid-template-rows: 60px 85px 115px 145px 170px;
}
.table__item {
    background: #EFEFEF;
    padding: 10px;
}
._column, ._row {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D67E34;
    font-size: 54px;
    line-height: calc(62 / 52 * 100%);
    text-align: center;
    color: #FFFFFF;
}
._row {
}
.gold_text {
}
/*-------------footer----------------*/





/*-------------------cartSystem.html-------------------*/
.cartSystem_background .wrapper{
    min-height: 110vh;
    background: url("../img/dims_0_large 2.jpg") center/cover no-repeat;
}

/*---------------------paymentSystem.html*/

.paymentSystem_background .wrapper{
    min-height: 110vh;
    background: url("../img/QIWI-Blokirovka-Rossiya-22 2.jpg") center/cover no-repeat;
}
/*----------------paymentShluzed.html---------------*/
.paymentShluzed_background .wrapper{
    min-height: 110vh;
    background: url("../img/2 57.jpg") center/cover no-repeat;
}
/*---------header------------*/
.header__body {
}
.cart_page .header-content {
    display: flex;
    align-items: center;
    justify-content: start;
}

.cart_page .header-content h1{
    text-align: left;
    margin: 0;
    position: relative;
}
.cart_page .header-content>*:not(:first-child){
    margin-left: 30px;
    padding-left: 30px;
}
.cart_page .header-content h1::before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 10px;
    border-radius: 1rem;
    width: 10px;
    margin-right: 30px;
    background: #D67E34;
}
.link_btn {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: calc(19 / 14 * 100%);
    color: #FFFFFF;
    background-color: #FF7400;
    padding: 14px 30px 14px 20px;
    display: block;
    align-items: center;
    height: 100%;
}
.link_btn:hover{
    transition: all 0.3s ease 0s;
    box-shadow: 0px 0px 0px 5px #ff73002d;
}
.header-content__btn::before{
    content: url("../img/Arrow\ 1.svg");
    margin-right: 10px;
}
.back_btn {
}

/*----------info-text----------*/
.text {
}
.cart_page .info_text {
    margin-top: 200px;
    margin-bottom: 100px;
}

.text-content {
    color: #FEFEFE;
}
/*----------drops----------*/
.drop {
}
.drop__body {
}

.drop-items >*:not(:last-child){
    margin-bottom: 10px;
}
.drop__item {
    min-height: 130px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.14);
    border: 1px solid #676767;
    backdrop-filter: blur(25px);
}
.item-content {
    max-height: 100px;
    display: flex;
}
.item-content__img {
    flex: 0 0 180px;
    display: flex;
    align-items: center;
}
.item-content__img img{
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
}
.item__logo {
}
.item-content__texts {
    flex: 0 0 810px;
    padding: 0 20px;
}
.texts-title {
    font-size: 40px;
    line-height: 46px;
    color: #BC9060;    
}
.texts-text {
    color: #B3B3B3;
    /* overflow: hidden;
    text-overflow: ellipsis; */
    /* white-space: nowrap; */
    max-height: 60px;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item-content__btn {
    flex: 0 0 100px;
}
.view_more {
    display: flex;
    align-items: center;
    justify-content: center;
}
.view-more {
    width: 40px;
    height: 40px;
    position: relative;
    background: transparent;
}
.view-more >*:first-child{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background: #C7C7C7;
    height: 40px;
    width: 2px;
    transition: all 0.3s ease 0s;

}
.view-more >*:last-child{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: block;
    background: #C7C7C7;
    width: 40px;
    height: 2px;
    transition: all 0.3s ease 0s;
}
.drop__item._active .view-more >*{
    transform: rotate(45deg);
}
.item-content__texts{
    transition: all 0.5s ease 0s;
}
.drop-content__text{
    color: #B3B3B3;
}
.drop__item._active .item-content__texts{
    transform: translate(-180px,100%);
    visibility: hidden;
    opacity: 0;
}
.drop-content{
    margin-top: 5px;
}
.drop-content__title{
    margin-bottom: 5px;
    color: #BC9060;
    font-size: 48px;
    line-height: calc(55 / 48 * 100%);
}
.drop-content__link {
    margin-top: 60px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.link__text {
    font-size: 20px;
    margin-right: 20px;
}
.drop-content__btn.link_btn {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    line-height: calc(19 / 14 * 100%);
    color: #FFFFFF;
    background-color: #FF7400;
    padding: 14px 20px 14px 30px;
    display: block;
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.drop-content__btn::before{
    content: url("../img/Arrow 2.svg");
    margin-left: 10px;
}

/*-------------------------------*/
.functions ._title{
    color: #FFFFFF;
}

.text {
}
.info_text {
}
.text__body {
}
._container {
}
.text-content {
}
.content_text {
}
.functions {
}
.functions__body {
}
._title {
}
.function-flexbox {
    margin-top: 60px;
}

.function-flexbox >*:not(:last-child){
    margin-bottom: 10px;
}
.flexbox-content__item {
}
.flexbox {
}
.flexbox__left {
}
.functions .flexbox-content__item.flexbox .flexbox__right{
    background: none;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(25px);
    color: #B3B3B3;
}
